.category-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 160px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  background-color: #fff;
}
.category-card:hover {
  transform: scale(1.05);
}
.category-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.category-name {
  margin-top: 10px;
  font-weight: 600;
  font-size: 15px;
}
.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 220px;
  background: #fff;
  text-align: center;
}
.product-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.product-details {
  padding: 10px 0;
}
.product-price {
  color: #0b7dda;
  font-weight: 600;
}
.success-msg {
  color: green;
  font-size: 13px;
  margin-top: 5px;
}
.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.qty-btn {
  background: #0b7dda;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s ease;
}

.qty-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.qty-btn:hover:not(:disabled) {
  background: #095ea6;
}

.qty-value {
  margin: 0 10px;
  font-weight: bold;
  font-size: 16px;
}
